{% extends 'misconfig/base.html' %}

{% block content %}
<div class="container-fluid" ng-controller="PriceConfigCtrl" ng-cloak>
    <alert-notify></alert-notify>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index_html') }}">Настройки МИС</a></li>
        <li>Прайс листы</li>
    </ul>
    <div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                <th width="1%">#</th>
                <th>Источник финансирования</th>
                <th>Наименование</th>
                <th>Удалён</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in item_list" ng-class="{'bg-danger': item.deleted}">
                    <td bind-once>[[ item.id ]]</td>
                    <td bind-once>[[ item.finance.name ]]</td>
                    <td bind-once>[[ item.name ]]</td>
                    <td>[[ item.deleted ]]</td>
                    <td class="nowrap" width="1%">
                        <a type="button" class="btn btn-primary" ng-if="canEdit(item)" ng-click="tariff_url(item)" title="Список тарифов">
                            <i class="fa fa-list"></i></a>
                        <button type="button" class="btn btn-primary" ng-if="canEdit(item)" ng-click="edit($index)" title="Редактировать">
                            <i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger" ng-if="canDelete(item)" ng-click="remove($index)" title="Удалить">
                            <i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-info" ng-if="canUndelete(item)" ng-click="restore($index)" title="Восстановить">
                            <i class="fa fa-undo"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix">
        <button type="button" class="btn btn-lg btn-success pull-right" ng-click="create_new()"
            title="Добавить запись"><i class="fa fa-plus"> Добавить запись</i>
        </button>
    </div>
    </div>
</div>
{% endblock %}

{% block modules_js %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/price/price.js', v=version) }}"></script>
<script type="text/ng-template" id="/caesar/misconfig/price/price-edit-modal.html">{% include "misconfig/price/price-edit-modal.html" %}</script>
{% endblock %}