<div class="application_menu">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
{#              #TODO: class=active когда будут готовы вьюхи#}
            <li{% if request.path == url_for('.index') %} class="active"{% endif %}><a href="{{ url_for('.index') }}">Главная</a></li>
            <li{% if request.path == url_for('.download') %} class="active"{% endif %}><a href="{{ url_for('.download') }}">Выгрузка</a></li>
            <li{% if request.path == url_for('.upload') %} class="active"{% endif %}><a href="{{ url_for('.upload') }}">Загрузка</a></li>
            <li{% if request.path == url_for('.reports') %} class="active"{% endif %}><a href="{{ url_for('.reports') }}">Отчёты</a></li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Настройка <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li{% if request.path == url_for('.settings_template') %} class="active"{% endif %}><a href="{{ url_for('.settings_template') }}">Шаблоны</a></li>
                  <li{% if request.path == url_for('.settings') %} class="active"{% endif %}><a href="{{ url_for('.settings') }}">Общие настройки</a></li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div><!-- /.navbar -->