{% extends 'base.html' %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/flick/jquery-ui.css" />
{% endblock %}

{% block content %}

    {% include '_nav_menu.html' %}

      <legend>Отчёты по выгрузкам в ТФОМС</legend>
        <form class="form-inline">
            <label for="from">Даты с:</label>
            <input type="text" id="from" name="from" class="span2" />
            <label for="to">по</label>
            <input type="text" id="to" name="to" class="span2" />
          <button type="submit" class="btn btn-primary">Выбрать</button>
        </form>
      <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Дата выгрузки</th>
                <th>Номер реестра</th>
                <th>Количество записей</th>
                <th>УЕТ</th>
                <th>Сумма (руб.)</th>
                <th>Оплачено</th>
                <th>Отказано</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td></td>
                    <td><span class="label label-important"><i class="icon-remove icon-white icon-white"></i></span></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td></td>
                    <td><span class="label label-important"><i class="icon-remove icon-white icon-white"></i></span></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td></td>
                    <td><span class="label label-important"><i class="icon-remove icon-white icon-white"></i></span></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/02/2013</td>
                    <td><a href="#myModal" data-toggle="modal">1234567</a></td>
                    <td>15</td>
                    <td>???</td>
                    <td>100500</td>
                    <td><span class="label label-success"><i class="icon-ok icon-white"></i></span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="row-fluid">
            <div class="span4">
                <div class="pagination">
                  <ul>
                    <li><a href="#">Назад</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Вперёд</a></li>
                  </ul>
                </div>
            </div>
            <div class="span4 offset4">
                <table class="table">
                    <thead>
                    <th colspan="2">Итого:</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Выгружено реестров</th>
                            <td>123</td>
                        </tr>
                        <tr>
                            <th>Общая сумма</th>
                            <td>100500 руб.</td>
                        </tr>
                        <tr>
                            <th>Сумма оплаченных</th>
                            <td>100000 руб.</td>
                        </tr>
                        <tr>
                            <th>Сумма отказанных</th>
                            <td>500 руб.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Информация о реестре</h3>
          </div>
          <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>ФИО:</dt><dd>Иванов И. И.</dd>
                <dt>Дата рождения:</dt><dd>19.01.1919</dd>
                <dt>Пол:</dt><dd>Мужской</dd>
                <dt>Код:</dt><dd></dd>
                <dt>Наименование услуги:</dt><dd></dd>
                <dt>Выполнено:</dt><dd></dd>
                <dt>Ед.Уч.:</dt><dd></dd>
                <dt>Количество:</dt><dd></dd>
                <dt>УЕТ:</dt><dd></dd>
                <dt>Сумма:</dt><dd></dd>
                <dt>Подтверждение:</dt><dd></dd>
                <dt>Дата подтверждения:</dt><dd></dd>
                <dt>Причина отказа:</dt><dd></dd>
                <dt>Примечание:</dt><dd></dd>
            </dl>
          </div>
        </div>
{% endblock %}
{% block modules_js %}
<script src="{{ url_for('static', filename='jquery-ui/js/jquery-1.9.1.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script>
      $(function() {
        $( "#from" ).datepicker({
          changeMonth: true,
          onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
      });
      </script>
{% endblock %}