{% extends 'base.html' %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include '_nav_menu.html' %}

        <form class="form-horizontal" method="post">
            {{ form.hidden_tag() }}
            <legend>Настройки</legend>

            <div class="control-group">
                <label class="control-label">ИНФИС код ЛПУ</label>
                <div class="controls">
                    {{ form.lpu_infis_code(placeholder="Введите ИНФИС код ЛПУ", pattern="\d+", required="required") }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">старый ИНФИС код</label>
                <div class="controls">
                    {{ form.old_lpu_infis_code(placeholder="Введите старый ИНФИС код", pattern="\d+", required="required") }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> номер СМО</label>
                <div class="controls">
                    {{ form.smo_number(placeholder="Введите номер СМО", pattern="\d+", required="required") }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Формат по-умолчанию</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="format" value="XML" checked="checked">XML
                    </label>
                    <label class="radio">
                        <input type="radio" name="format" value="DBF">DBF
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
{% endblock %}