{% extends 'base.html' %}

{% block title %}> {{ module_name }} > Настройки{% endblock %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include '_nav_menu.html' %}
        <form class="form-horizontal" method="post">
            {{ form.hidden_tag() }}
            <legend>Настройки</legend>

            {% for field in form %}
                {% if field.type != "CSRFTokenField" %}
                    <div class="control-group">
                        <label class="control-label">{{ field.description|safe }}</label>
                        <div class="controls">
                            {{ field(value=field.value, placeholder="Введите "+field.description, required="required", title="Необходимо заполнить это поле!") }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
{% endblock %}