{% extends 'base.html' %}

{% block title %} > Пользователи > {% if user %}Редактирование {{ user.login }}{% else %}Добавление пользователя{% endif %}{% endblock %}

{% block content %}
    <div class="container">
        <legend>
            {% if user %}Редактирование &laquo;{{ user.login }}&raquo;{% else %}Добавление пользователя{% endif %}
            <small class="pull-right"><span class="glyphicon glyphicon-list"></span>
                <a href="{{ url_for('users') }}" title="Вернуться к списку пользователей">К списку пользователей</a>
            </small>
        </legend>

        {% if errors %}
            <div class="alert alert-danger">
                {%- for error in errors -%}
                    <div>{{ error|safe }}</div>
                {%- endfor -%}
            </div>
        {% endif %}
        <form class="form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            {% for field in form %}
                {% if field.type != "CSRFTokenField" %}
                    <div class="form-group">
                        {{ field.label(class="col-md-2 control-label") }}
                        <div class="col-md-6">
                            {% if user and field.type == "PasswordField" %}
                                {{ field(value=field.data, title="Необходимо заполнить это поле!", class="form-control") }}
                            {% elif field.type == "RadioField" %}
                                {% for subfield in field %}
                                    <label class="radio">
                                    {%- if (user and user.roles[0].id == subfield.data) or (not user and subfield.data == 2) -%}
                                        {{ subfield(checked=True) }}
                                    {%- else -%}
                                        {{ subfield() }}
                                    {%- endif -%}
                                        {{ subfield.label }}
                                    </label>
                                {% endfor %}
                            {% else %}
                                {{ field(value=field.data, required="required", title="Необходимо заполнить это поле!", class="form-control") }}
                            {% endif %}
                        </div>
                        {% for error in form.errors[field.name] %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="{{ url_for('users') }}" class="btn btn-default">Отмена</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}