<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="/" title="Главная страница"><i class="icon-home icon-white"></i></a>
          </li>
          {% for item in main_menu %}
          <li{% if request.blueprint == item.module %} class="active"{% endif %}>
            <a href="{{ url_for(item.module + '.index') }}" title="{{ item.name }}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class="nav pull-right">
          <li>
              <div class="btn-group">
                <a id="drop_set" class="btn btn-small btn-info"  href="/settings/" title="Пользователи"><i class="icon-user icon-white"></i></a>
                <a id="drop_set" class="btn btn-small btn-info"  href="/settings/" title="Настройки"><i class="icon-wrench icon-white"></i></a>
              </div>
          </li>
        </ul>
    </div>
  </div>
</div>