<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <title>Система администрирования ЛПУ {% block title %}{% endblock %}</title>
        {% include '_header.html' %}
        {% block modules_css %}{% endblock %}
    </head>
    <body>
    {%- import '_macros.html' as macros -%}
    {%- import 'common/utils.html' as macro_utils with context -%}
    {%- import 'common/module_menu.html' as macro_module_menu with context -%}
        <div id="wrap">
            {%- include '_top.html' -%}

            <div id="container" class="container-fluid">
                {%- block content %}
                {% endblock -%}
            </div>
            <!-- /container -->
            <div id="push"></div>
        </div>

        {% include '_bottom.html' %}
        {% include '_footer.html' %}
        {% block modules_js %}{% endblock %}

    </body>
</html>