<div class="application_menu">
    <div class="navbar navbar-default">
{#        <div class="container">#}
            <ul class="nav navbar-nav">
                <li{% if request.path == url_for('.index') %} class="active"{% endif %}><a
                        href="{{ url_for('.index') }}">Журнал</a></li>
                {% if current_user.role == 'admin' %}
                    <li{% if request.path == url_for('.settings') %} class="active"{% endif %}><a
                            href="{{ url_for('.settings') }}">Настройки</a></li>
                {% endif %}
            </ul>
{#        </div>#}
    </div>
</div><!-- /.navbar -->