{% extends 'logging/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='jquery-ui/css/cupertino/jquery-ui-1.10.2.custom.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'logging/_nav_menu.html' %}
    {% set msg = '(последние 100 записей)' %}
    {% if request.method == 'POST' %}
        {% set msg = '(отфильтрован по параметрам)' %}
    {% endif %}
    <legend>Просмотр журнала <small>{{ msg }}</small></legend>

    <form class="form-inline" id="filter" method="POST" action="">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <select name="owner">
        <option value="">- все подсистемы -</option>
        {% if owners %}
        {% for owner in owners %}
            <option value="{{ owner|safe }}"{% if request.form.get('owner') == owner|string %} selected="selected"{% endif %}>
            {%- if item.owner is iterable -%}
                {% for k, v in item.owner.iteritems() %}
                <nobr><b>{{ k }}:</b> {{ v }}</nobr>
                    {%- if not loop.last -%} | {%- endif -%}
                {% endfor %}
            {%- else -%}
                {{ item.owner }}
            {%- endif -%}
            {%- if 'name' in owner -%}
                {{ owner.name }}{% if 'ip' in owner %} (ip: {{ owner.ip }}){% endif %}
            {%- else -%}
                {{ owner }}
            {%- endif -%}
            </option>
        {% endfor %}
        {% endif %}
        </select>
        <select name="level">
        <option value="">- все типы -</option>
        {% if levels %}
        {% for level in levels %}
            <option value="{{ level }}"{% if request.form.get('level') == level %} selected="selected"{% endif %}>{{ level }}</option>
        {% endfor %}
        {% endif %}
        </select>
        <label for="from">Даты с:</label>
        <input type="text" id="from" name="start" class="span2" value="{{ request.form|attr('start') }}" />
        <label for="to">по</label>
        <input type="text" id="to" name="end" class="span2" value="{{ request.form|attr('end') }}" />
      <button type="submit" class="btn btn-primary">Выбрать</button>
    </form>
    {% if data %}
        <table class="table table-bordered table-condensed" id="result_table">
            <thead>
                <tr>
                    <th>Подсистема</th>
                    <th>Уровень</th>
                    <th>Дата</th>
                    <th>Сообщение</th>
                    <th>Теги</th>
                </tr>
                <tr>
                    <th colspan="5">{% include 'logging/_filter_results_form.html' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data %}
                {% set class='' %}
                {% if item.level in ['crirical', 'error'] %}
                    {% set class='error' %}
                {% elif item.level in ['warning'] %}
                    {% set class='warning' %}
                {% elif item.level in ['notice', 'info'] %}
                    {% set class='info' %}
                {% endif %}
                <tr class="{{ class }}">
                    <td>
                        {%- if item.owner is iterable -%}
                            {% for k, v in item.owner.iteritems() %}
                            <nobr><b>{{ k }}:</b> {{ v }}</nobr>
                                {%- if not loop.last -%}
                                    <br>
                                {%- endif -%}
                            {% endfor %}
                        {%- else -%}
                            {{ item.owner }}
                        {%- endif -%}
                    </td>
                    <td>{{ item['level'] }}</td>
                    <td>{% if item['datetimestamp'] %}{{ item['datetimestamp']|strptime|datetimeformat('%d.%m.%y %H:%M:%S') }}{% endif %}</td>
                    <td>{{ item['data'] }}</td>
                    <td>{{ item['tags']|join(', ') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          По указанным параметрам логов не обнаружено
        </div>
    {% endif %}
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jquery-ui/js/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui/js/i18n/jquery.ui.datepicker-ru.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
    $(function() {
        $( "#from" ).datepicker({
          changeMonth: true,
          onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        {% if request.form.get('start') %}
            $('#from').datepicker("setDate", '{{ request.form.get('start') }}');
        {% endif %}
        $( "#to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
        {% if request.form.get('end') %}
            $('#to').datepicker("setDate", '{{ request.form.get('end') }}');
        {% endif %}
    });
    </script>
    <div class="loader"></div>
{% endblock %}