<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Каталог</h4>
</div>
<div class="modal-body">
    <table class="table">
    <tbody>
        <tr>
            <th>Bcnjx</th>
        </tr>
    </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$close(model)">Подтвердить</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Отмена</button>
</div>
