<table class="table">
<thead>
<tr>
    <th>МКБ</th>
    <th>Модель пациента</th>
    <th>Вид лечения</th>
    <th>Код метода лечения</th>
    <th>Стоимость</th>
    <th colspan="2">Метод лечения</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="d in models.details_list">
    <td>[[ d.mkb | pluck:'code' | join:', ' | default:'НЕТ' ]]</td>
    <td>[[ d.patient_model.name ]]</td>
    <td>[[ d.treatment_type.name | default: '-' ]]</td>
    <td>[[ d.treatment.code ]]</td>
    <td>[[ d.treatment.name ]]</td>
    <td>[[ d.price ]]</td>
    <td class="nowrap" width="1%">
        <button class="btn btn-primary" ng-click="details.edit($index)"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger" ng-click="details.delete($index)"><i class="fa fa-trash"></i></button>
    </td>
</tr>
<tr>
    <td colspan="6"></td>
    <td><button class="btn btn-success" ng-click="details.create()"><i class="fa fa-plus"></i></button></td>
</tr>
</tbody>
</table>