<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Профиль</h4>
</div>
<div class="modal-body">
<form class="form-horizontal">
  <div class="form-group">
    <label for="code" class="col-sm-2 control-label">Код</label>
    <div class="col-sm-10">
      <input ng-model="model.code" type="text" class="form-control" id="code" placeholder="Код профиля ВМП">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Наименование</label>
    <div class="col-sm-10">
      <input ng-model="model.name" type="text" class="form-control" id="name" placeholder="Наименование профиля">
    </div>
  </div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$close(model)">Подтвердить</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Отмена</button>
</div>
