{% extends 'base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include 'tfoms/_nav_menu.html' %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Подсистема выгрузки в ТФОМС</h1>
        <p class="lead">Система предназначена для информационного взаимодействия между медицинской организацией и территориальным фондом обязательного медицинского страхования при осуществлении персонифицированного учета оказанной медицинской помощи.<br/>
            Система осуществляет формирование и выгрузку файлов формата XML или DBF для последующей отправки в ТФОМС. Дополнительной возможностью системы является приём данных в формате XML после произведенного форматно-логического контроля.</p>
      </div>
        <div class="row-fluid">
            <div class="span3 offset3">
              <a class="btn btn-large btn-danger" href="{{ url_for('.add_new_template') }}">Настроить шаблоны</a>
            </div>

            <div class="span3">
              <a class="btn btn-large btn-success" href="{{ url_for('.download') }}">Сформировать реестры</a>
            </div>
        </div>
       <br/>
      <hr>
       <br/>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Выгрузка в ТФОМС</h2>
          <p>Выгрузка осуществляется на основе сформированных шаблонов. В том случае, когда у шаблона установлен признак "Архивировать", сгенерированный файл будет упакован в архив (XML - в ZIP, DBF - в ARJ).</p>
          <p><a class="btn" href="{{ url_for('.download') }}">Перейти к выгрузке &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Загрузка из ТФОМС</h2>
          <p>Полученные из ТФОМС обновленные данные по пациентам загружаются в БД ЛПУ. Результат форматно-логического контроля отображается в сводной таблице по реестрам.</p>
          <p><a class="btn" href="{{ url_for('.upload') }}">Загрузить из ТФОМС &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Настройка шаблонов</h2>
          <p>Формирование шаблонов осуществляется администратором системы в отдельном интерфейсе. Интерфейс реализован с использованием drag'n'drop. Набор и порядок следования тегов в шаблонах изменяется с помощью &laquo;мыши&raquo;.</p>
          <p><a class="btn" href="{{ url_for('.add_new_template') }}">Настроить шаблоны &raquo;</a></p>
        </div>
      </div>
{% endblock %}