<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Мероприятие</h4>
</div>
<div class="modal-body">
<form class="form-horizontal">
    <div class="form-group">
        <label for="measure_type" class="col-sm-2 control-label">Тип мероприятия</label>
        <div class="col-sm-10">
            <rb-select ng-model="model.measure_type" id="measure_type" ref-book="rbMeasureType"
                placeholder="Тип мероприятия"></rb-select>
        </div>
    </div>

    <div class="form-group">
        <label for="code" class="col-sm-2 control-label">Код</label>
        <div class="col-sm-10">
            <input ng-model="model.code" type="text" class="form-control" id="code" placeholder="Код">
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Наименование</label>
        <div class="col-sm-10">
            <textarea ng-model="model.name" class="form-control" id="name" placeholder="Наименование"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="uuid" class="col-sm-2 control-label">Уникальный идентификатор</label>
        <div class="col-sm-10">
            <input type="text" ng-model="model.uuid" class="form-control" id="uuid"
                placeholder="Создается автоматически" readonly>
        </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-md-12">
        <h4>Представление данных для мероприятия &mdash;
            <div class="btn-group">
                <label class="btn btn-default" ng-model="model.data_model" btn-radio="'action_type'">В виде типа действия</label>
                <label class="btn btn-default" ng-model="model.data_model" btn-radio="'template_action'">В виде шаблона действия</label>
            </div>
        </h4>
    </div>
    </div>
    <div class="form-group" ng-if="measure_data_is_at()">
        <label for="at" class="col-sm-2 control-label">Тип действия</label>
        <div class="col-sm-10">
            <rb-select ng-model="model.action_type" id="at" ref-book="ActionType"
                placeholder="Тип действия"></rb-select>
        </div>
    </div>
    <div class="row" ng-if="measure_data_is_template_action()">
        <div class="col-md-12">
            <p>Шаблон действия такой-то <button type="button" class="btn btn-primary">Подробнее &Gt;</button></p>
        </div>
    </div>
</form>
<pre>[[ model | json ]]</pre>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$close(model)">Подтвердить</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Отмена</button>
</div>
