{% extends 'misconfig/base.html' %}

{% block content %}
<div class="container-fluid" ng-controller="ExpertProtocolListConfigCtrl" ng-cloak>
    <alert-notify></alert-notify>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index_html') }}">Настройки МИС</a></li>
        <li><a href="{{ url_for('.index_html') }}">Экспертная часть</a></li>
        <li><a href="{{ url_for('.expert_protocol_index_html') }}">Протоколы лечения</a></li>
        <li>Список протоколов</li>
    </ul>

    <div class="row">
    <div class="col-md-12">
        <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Код</th>
            <th>Наименование</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in item_list">
            <td>[[ item.id ]]</td>
            <td>[[ item.code ]]</td>
            <td>[[ item.name ]]</td>
            <td class="nowrap" width="1%">
                <button type="button" class="btn btn-primary" ng-click="edit($index)" title="Редактировать">
                    <i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" ng-click="remove($index)" title="Удалить">
                    <i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
        </table>
        <button type="button" class="btn btn-lg btn-success pull-right" ng-click="create_new()"
            title="Добавить запись"><i class="fa fa-plus"></i>
        </button>
    </div>
    </div>
</div>
{% endblock %}

{% block modules_js %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/expert/models.js', v=version) }}"></script>
<script src="{{ url_for('.static', filename='js/expert/protocol-scheme.js', v=version) }}"></script>
<script type="text/ng-template" id="/caesar/misconfig/expert/protocol/protocol-edit-modal.html">{% include "misconfig/expert/protocol/scheme-edit-modal.html" %}</script>
{% endblock %}