<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Схема протокола</h4>
</div>
<div class="modal-body">
<form class="form-horizontal">
    <div class="form-group">
        <label for="code" class="col-sm-2 control-label">Код</label>
        <div class="col-sm-10">
            <input ng-model="scheme.code" type="text" class="form-control" id="code" placeholder="Код">
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Наименование</label>
        <div class="col-sm-10">
            <textarea ng-model="scheme.name" class="form-control" id="name" placeholder="Наименование"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Номер</label>
        <div class="col-sm-10">
            <input ng-model="scheme.number" type="text" class="form-control" id="number" placeholder="Номер">
        </div>
    </div>

    <div class="form-group">
        <hr>
        <label for="mkb_list" class="col-sm-2 control-label">Дигнозы МКБ</label>
        <div class="col-sm-10">
            <ui-select multiple id="mkb_list" name="mkb_list" theme="select2"
                   ng-model="proxy_mkb.list" ref-book="MKB" close-on-select="false">
                <ui-select-match placeholder="МКБ"><span title="[[$item.name]]" ng-bind="$item.code"></span></ui-select-match>
                <ui-select-choices repeat="mkb in $refBook.objects | filter: $select.search | limitTo: 100 | filter:filterMkbChoices">
                    <div ng-bind-html="mkb.code | highlight: $select.search"></div>
                    <small style="font-style: italic" ng-bind-html="mkb.name"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

{#    <br><pre>[[ scheme | json ]]</pre><pre>[[ proxy_mkb | json ]]</pre>#}
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="close()">Сохранить</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Закрыть</button>
</div>
