{% extends 'misconfig/base.html' %}

{% block content %}
<div class="container-fluid" ng-controller="SchemeMeasureConfigCtrl" ng-cloak>
    <alert-notify></alert-notify>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index_html') }}">Настройки МИС</a></li>
        <li><a href="{{ url_for('.index_html') }}">Экспертная часть</a></li>
        <li><a href="{{ url_for('.expert_protocol_index_html') }}">Протоколы лечения</a></li>
        <li><a href="{{ url_for('.expert_protocol_protocols_html') }}">Список протоколов</a></li>
        <li><a ng-href="{{ url_for('.expert_protocol_protocol_html') + '#?protocol_id=' }}[[scheme.protocol_id]]">Протокол</a></li>
        <li><a ng-href="{{ url_for('.expert_protocol_protocol_html') + '#?protocol_id=' }}[[scheme.protocol_id]]">Схема &laquo;[[ scheme.name ]]&raquo;</a></li>
        <li>Мероприятия схемы</li>
    </ul>

    <h3 class="modal-title">Мероприятия схемы</h3>
    <div class="row">
    <div class="col-md-12">
        <table class="table">
        <thead>
        <tr>
            <th width="10%">id</th>
            <th width="35%">Мероприятие</th>
            <th width="50%">Расписание</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sm in scheme.scheme_measures">
            <td>[[ sm.id ]]</td>
            <td>[[ sm.measure.name ]]</td>
            <td>[[ formatSchedule(sm) ]]</td>
            <td class="nowrap" width="1%">
                <button type="button" class="btn btn-primary" ng-click="editSchemeMeasure($index)" title="Редактировать данные схемы и список МКБ">
                    <i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" ng-click="remove($index)" title="Удалить">
                    <i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
        </table>
        <button type="button" class="btn btn-lg btn-success pull-right" ng-click="createNewSchemeMeasure()"
            title="Добавить схему"><i class="fa fa-plus"></i>
        </button>
    </div>
    </div>
</div>
{% endblock %}

{% block modules_js %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/expert/models.js', v=version) }}"></script>
<script src="{{ url_for('.static', filename='js/expert/scheme-measure.js', v=version) }}"></script>
<script type="text/ng-template" id="/caesar/misconfig/expert/protocol/scheme-measure-edit-modal.html">{% include "misconfig/expert/protocol/scheme-measure-edit-modal.html" %}</script>
{% endblock %}