<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Схема мероприятий</h4>
</div>
<div class="modal-body modal-scrollable">
<tabset>
<tab heading="Мероприятие">
    <ng-form name="measureForm" class="form-horizontal tmargin20">
        <div class="form-group">
            <label for="measure" class="col-sm-2 control-label">Мероприятие</label>
            <div class="col-sm-10">
                <ui-select id="measure" name="measure" theme="bootstrap"
                       ng-model="scheme_measure.measure">
                    <ui-select-match placeholder="Мероприятие"><span ng-bind="$select.selected.name"></span></ui-select-match>
                    <ui-select-choices repeat="measure in measure_list | filter: $select.search | limitTo: 100">
                        <div ng-bind-html="measure.name | highlight: $select.search"></div>
                        <small style="font-style: italic">Данные: [[ measure.action_type.name ]]</small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="measure_name" class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <span id="measure_name" class="form-control">[[ scheme_measure.measure.name ]]</span>
            </div>
        </div>
        <div class="form-group">
            <label for="measure_type" class="col-sm-2 control-label">Тип</label>
            <div class="col-sm-10">
                <span id="measure_type" class="form-control">[[ scheme_measure.measure.measure_type.name ]]</span>
            </div>
        </div>
        <div class="form-group">
            <label for="measure_uuid" class="col-sm-2 control-label">UUID</label>
            <div class="col-sm-10">
                <span id="measure_uuid" class="form-control">[[ scheme_measure.measure.uuid ]]</span>
            </div>
        </div>
        <div class="form-group">
            <label for="measure_action_type" class="col-sm-2 control-label">Данные направления</label>
            <div class="col-sm-10">
                <span id="measure_action_type" class="form-control">[[ scheme_measure.measure.appointment_at.name ]]</span>
            </div>
        </div>
        <div class="form-group">
            <label for="measure_action_type" class="col-sm-2 control-label">Данные результата</label>
            <div class="col-sm-10">
                <span id="measure_action_type" class="form-control">[[ scheme_measure.measure.result_at.name ]]</span>
            </div>
        </div>
    </ng-form>
</tab>
<tab heading="Расписание">
    <legend class="tmargin20">Условия формирования мероприятий</legend>
    <div class="row marginal lmargin20 rmargin10">
    <div class="col-md-12">
        <div ng-repeat="sched_type in MeasureScheduleType.objects" class="row">
            <div class="col-md-4 checkbox">
                <label for="sched_type_[[$index]]">
                    <input type="checkbox" id="sched_type_[[$index]]" ng-checked="isSchedTypeChecked(sched_type)"
                        ng-click="toggleSchedType(sched_type)">[[ sched_type.name ]]
                </label>
            </div>
            <div class="col-md-8">
                <div ng-if="stControlForAddMkb(sched_type)">
                    <wm-mkb-multiple id="additional_mkb_list" name="additional_mkb_list" placeholder="Укажите дополнительные диагнозы"
                        ng-model="scheme_measure.schedule.additional_mkbs">
                    </wm-mkb-multiple>
                </div>
                <div ng-if="stControlForAddNote(sched_type)">
                    <textarea ng-model="scheme_measure.schedule.additional_text" class="form-control"
                        rows="3" placeholder="Укажите дополнительные условия, примечания"></textarea>
                </div>
            </div>
        </div>
    </div>
    </div>

    <legend class="tmargin20">Способы формирования мероприятий</legend>
    <div class="row lmargin20 rmargin10">
    <div class="col-md-12">
        <div ng-repeat="sched_apply_type in rbMeasureScheduleApplyType.objects" class="row marginal">
            <div class="col-md-4 radio">
                <label for="apply_type_[[$index]]">
                    <input type="radio" id="apply_type_[[$index]]" name="apply_type_[[$index]]" ng-value="sched_apply_type"
                        ng-model="scheme_measure.schedule.apply_type">[[ sched_apply_type.name ]]
                </label>
            </div>
            <div class="col-md-8">
                <div ng-if="satControlForCountFromObjDate(sched_apply_type)" ng-show="schedApplyTypeControlsVisible(sched_apply_type)">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">период</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.period"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <rb-select ref-book="rbUnitsGroup/time" ng-model="scheme_measure.schedule.period_unit">\
                            </rb-select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">частота</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.frequency"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">количество</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.count"
                                       valid-number>
                            </div>
                        </div>
                    </div>
                </div>
                {# --- #}
                <div ng-if="stControlForRangeFromRefDate(sched_apply_type)" ng-show="schedApplyTypeControlsVisible(sched_apply_type)">
                    <div class="row marginal">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">от</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.apply_bound_range_low"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <rb-select ref-book="rbUnitsGroup/time" ng-model="scheme_measure.schedule.apply_bound_range_low_unit">\
                            </rb-select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">до</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.apply_bound_range_high"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <rb-select ref-book="rbUnitsGroup/time" ng-model="scheme_measure.schedule.apply_bound_range_high_unit">\
                            </rb-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">период</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.period"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <rb-select ref-book="rbUnitsGroup/time" ng-model="scheme_measure.schedule.period_unit">\
                            </rb-select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">частота</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.frequency"
                                       valid-number>
                            </div>
                        </div>
                    </div>
                </div>
                {# --- #}
                <div ng-if="stControlForCountFromConditionalDate(sched_apply_type)" ng-show="schedApplyTypeControlsVisible(sched_apply_type)">
                    <div class="row marginal">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">от</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.apply_bound_range_low"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <rb-select ref-book="rbUnitsGroup/time" ng-model="scheme_measure.schedule.apply_bound_range_low_unit">\
                            </rb-select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">до</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.apply_bound_range_low_max"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <rb-select ref-book="rbUnitsGroup/time" ng-model="scheme_measure.schedule.apply_bound_range_low_max_unit">\
                            </rb-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">период</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.period"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <rb-select ref-book="rbUnitsGroup/time" ng-model="scheme_measure.schedule.period_unit">\
                            </rb-select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">частота</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.frequency"
                                       valid-number>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">количество</span>
                                <input type="text" class="form-control" ng-model="scheme_measure.schedule.count"
                                       valid-number>
                            </div>
                        </div>
                    </div>
                </div>
                {# --- #}
            </div>
        </div>
    </div>
    </div>
</tab>
</tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="close()">Сохранить</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Закрыть</button>
</div>
