    <ng-form name="forms.CRD" class="tmargin20">
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="login" class="control-label">Логин</label>
                <input id="login" type="text" class="form-control" placeholder="Логин" ng-model="model.login">
            </div>
            <div class="form-group col-sm-3">
                <label for="password" class="control-label">Новый пароль</label>
                <input id="password" name="password" type="password" ng-trim="false"  ng-pattern="/^[a-zA-Zа-яёА-ЯЁ0-9][a-zA-Zа-яёА-ЯЁ0-9]*$/" class="form-control" placeholder="Пароль" ng-model="model.new_password">
            </div>
            <div class="form-group col-sm-5">
                <div class="row">
                    <div style="margin-top:3em; color:red!important; font-size:80%!important;" ng-show="forms.CRD.password.$error.pattern || model.new_password.length < 8">* Пароль должен содержать не менее 8 буквенно-цифровых символов</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Роли пользователя</h4>
                <div style="height: 500px; overflow-y: scroll">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th width="1%"></th>
                        <th width="10%">Код</th>
                        <th>Наименование</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in rbUserProfile.objects track by profile.id">
                        <td>
                            <input
                                type="checkbox"
                                name="user_profiles[]"
                                value="[[profile]]"
                                ng-checked="has_role(profile)"
                                ng-click="toggleRole(profile)">
                        </td>
                        <td>[[ profile.code ]]</td>
                        <td>[[ profile.name ]]</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </ng-form>