{% extends 'misconfig/base.html' %}

{% block content %}
<div class="container-fluid" ng-controller="PersonCurationConfigCtrl" ng-cloak>
    <alert-notify></alert-notify>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index_html') }}">Настройки МИС</a></li>
        <li>Связь сотрудника с уровнями курирования</li>
    </ul>

    <div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                <th>Сотрудник</th>
                <th>Специальность</th>
                <th>Должность</th>
                <th>Уровни курирования</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in model">
                <td bind-once>[[ item.person.name_text ]]</td>
                <td bind-once>[[ item.person.speciality.name ]]</td>
                <td bind-once>[[ item.person.post.name ]]</td>
                <td width="40%">
                    <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                        <ul class="list-group">
                            <li ng-repeat="pers_cur in item.person.person_curations" class="list-group-item">
                                [[ pers_cur.org_curation_level.name ]]
                                <span class="label label-danger pull-right" ng-show="inEditState(key)"
                                    ng-click="removePersonCuration(key, $index)">
                                    <i class="fa fa-remove"></i>
                                </span>
                            </li>
                        </ul>
                        <div class="panel-body" ng-if="inEditState(key)">
                            <div class="alert alert-danger" role="alert" ng-if="alertCurationDublVisible(key)">
                                Выбранный уровень уже присутствует в списке. Выберите другое значение.
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <rb-select ng-model="item.newCuration" ref-book="rbOrgCurationLevel"
                                        ng-change="checkCurationDubl(key)"></rb-select>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" ng-click="addPersonCuration(key)"
                                        ng-disabled="!btnAddCurationAvailable(key)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-primary" ng-click="startEditing(key)" ng-if="!inEditState(key)">Редактировать</button>
                            <button type="button" class="btn btn-success" ng-click="finishEditing(key)" ng-if="inEditState(key)">Сохранить</button>
                            <button type="button" class="btn btn-danger" ng-click="cancelEditing(key)" ng-if="inEditState(key)">Отменить</button>
                        </div>
                    </div>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}

{% block modules_js %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/person/models.js', v=version) }}"></script>
<script src="{{ url_for('.static', filename='js/person/person-curation-level.js', v=version) }}"></script>
{% endblock %}