{% extends 'misconfig/base.html' %}

{% block content %}
<div class="container-fluid" ng-controller="PersonCurationConfigCtrl" ng-cloak>
    <alert-notify></alert-notify>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index_html') }}">Настройки МИС</a></li>
        <li>Связь сотрудника с уровнями курирования</li>
    </ul>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Фильтр</h3>
                </div>
                <div class="panel-body">
                    <label for="filter-fio">ФИО</label>
                    <input class="form-control" id="filter-fio" type="text" ng-model="flt.model.fio"
                           autocomplete="off" placeholder="ФИО">

                    <label for="filter-org">Уровень курирования</label>
                    <rb-select multiple="true" ref-book="rbOrgCurationLevel" add-rb-data="extendCurationLevel()" id="filter-post" ng-model="flt.model.curation_levels"
                               placeholder="Уровень курирования"></rb-select>

                    <label for="filter-speciality">Специальность</label>
                    <rb-select ref-book="rbSpeciality" id="filter-speciality" ng-model="flt.model.speciality"
                               placeholder="Специальность"></rb-select>

                    <label for="filter-post">Должность</label>
                    <rb-select ref-book="rbPost" id="filter-post" ng-model="flt.model.post"
                               placeholder="Должность"></rb-select>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default" ng-click="getData()">Получить данные</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="clear()">Сбросить</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="clearAll()">Сбросить и очистить результаты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-9">
        <table class="table table-condensed">
            <thead>
                <tr>
                <th>Сотрудник</th>
                <th>Специальность</th>
                <th>Должность</th>
                <th>Уровни курирования</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in model">
                <td>[[ item.person.name_text ]]</td>
                <td>[[ item.person.speciality.name ]]</td>
                <td>[[ item.person.post.name ]]</td>
                <td width="40%">
                    <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                        <ul class="list-group">
                            <li ng-repeat="curation_level in item.person.curation_levels" class="list-group-item">
                                [[ curation_level.name ]]
                                <span class="label label-danger pull-right" ng-show="inEditState(key)"
                                    ng-click="removePersonCuration(key, $index)">
                                    <i class="fa fa-remove"></i>
                                </span>
                            </li>
                        </ul>
                        <div class="panel-body" ng-if="inEditState(key)">
                            <div class="alert alert-danger" role="alert" ng-if="alertCurationDublVisible(key)">
                                Выбранный уровень уже присутствует в списке. Выберите другое значение.
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <rb-select ng-model="item.newCuration" ref-book="rbOrgCurationLevel"
                                        ng-change="checkCurationDubl(key)"></rb-select>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" ng-click="addPersonCuration(key)"
                                        ng-disabled="!btnAddCurationAvailable(key)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-primary" ng-click="startEditing(key)" ng-if="!inEditState(key)">Редактировать</button>
                            <button type="button" class="btn btn-success" ng-click="finishEditing(key)" ng-if="inEditState(key)">Сохранить</button>
                            <button type="button" class="btn btn-danger" ng-click="cancelEditing(key)" ng-if="inEditState(key)">Отменить</button>
                        </div>
                    </div>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}

{% block modules_js %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/person/models.js', v=version) }}"></script>
<script src="{{ url_for('.static', filename='js/person/person-curation-level.js', v=version) }}"></script>
{% endblock %}