{% extends 'misconfig/base.html' %}

{% block content %}
<ul class="breadcrumb">
    <li>Настройки МИС</li>
</ul>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Настройки
        </div>
        <div class="list-group">
            <a href="{{ url_for('.rb_html') }}" class="list-group-item">Базовые справочники</a>
            <a href="{{ url_for('.htmc_html') }}" class="list-group-item">Квоты ВМП</a>
            <a href="{{ url_for('.org_html') }}" class="list-group-item">Организации и ЛПУ</a>
            <a href="{{ url_for('.print_template_html') }}" class="list-group-item">Шаблоны печати</a>
            {% if mis_settings.getBool('RISAR.Enabled', False) %}
            <a href="{{ url_for('.org_birth_care_level_html') }}" class="list-group-item">Уровни оказания перинатальной помощи</a>
            <a href="{{ url_for('.person_curation_level_html') }}" class="list-group-item">Связь сотрудника с уровнями курирования</a>
            <a href="{{ url_for('.org_curation_html') }}" class="list-group-item">Курирование ЛПУ</a>
            <a href="{{ url_for('.perinatal_risk_rate_mkb_html') }}" class="list-group-item">Связь МКБ со степенями перинатального риска</a>
            <a href="{{ url_for('.pregnancy_pathology_mkb_html') }}" class="list-group-item">Связь МКБ с патологиями беременности</a>
            {% endif %}
            <div class="list-group-item">...</div>
        </div>
    </div>

    {% if mis_settings.getBool('Expert.Protocol.Enabled', False) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Настройки экспертной части МИС
        </div>
        <div class="list-group">
            <a href="{{ url_for('.expert_protocol_index_html') }}" class="list-group-item">Протоколы лечения</a>
            <a href="#" class="list-group-item">Маршрутизация беременных</a>
            <div class="list-group-item">...</div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}