{% extends 'misconfig/base.html' %}

{% block content %}
<ul class="breadcrumb">
    <li>Настройки МИС</li>
</ul>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Настройки
        </div>
        <div class="list-group">
            <a href="{{ url_for('.rb_html') }}" class="list-group-item">Базовые справочники</a>
            <a href="{{ url_for('.htmc_html') }}" class="list-group-item">Квоты ВМП</a>
            <a href="{{ url_for('.org_html') }}" class="list-group-item">Организации и ЛПУ</a>
            <div class="list-group-item">...</div>
        </div>
    </div>
</div>
{% endblock %}