<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Организация</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="short_name" class="col-sm-2 control-label">Сокращенное наименование</label>
            <div class="col-sm-10">
                <input ng-model="model.short_name" type="text" class="form-control" id="short_name" placeholder="Сокращенное наименование">
            </div>
        </div>

        <div class="form-group">
            <label for="full_name" class="col-sm-2 control-label">Полное наименование</label>
            <div class="col-sm-10">
                <textarea ng-model="model.full_name" class="form-control" id="full_name" placeholder="Полное наименование"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Наименование для печати</label>
            <div class="col-sm-10">
                <textarea ng-model="model.title" class="form-control" id="title" placeholder="Наименование для печати"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="infis" class="col-sm-2 control-label">Код ИНФИС</label>
            <div class="col-sm-10">
                <input ng-model="model.infis" type="text" class="form-control" id="infis" placeholder="Код ИНФИС">
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Адрес</label>
            <div class="col-sm-10">
                <textarea ng-model="model.address" class="form-control" id="address" placeholder="Адрес в свободном виде"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Телефон</label>
            <div class="col-sm-10">
                <input ng-model="model.phone" type="text" class="form-control" id="phone" placeholder="Телефон">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">КЛАДР код региона</label>
            <div class="col-sm-10">
                <wm-kladr-locality ng-model="model.kladr_locality" id="area"></wm-kladr-locality>
            </div>
        </div>

        <div class="form-group">
            <label for="is_lpu" class="col-sm-2 control-label">является ЛПУ</label>
            <div class="col-sm-10">
                <input ng-model="model.is_lpu" type="checkbox" id="is_lpu">
            </div>
        </div>

        <div class="form-group">
            <label for="is_stationary" class="col-sm-2 control-label">является стационаром</label>
            <div class="col-sm-10">
                <input ng-model="model.is_stationary" type="checkbox" id="is_stationary">
            </div>
        </div>

        <div class="form-group">
            <label for="is_insurer" class="col-sm-2 control-label">является страховой компанией</label>
            <div class="col-sm-10">
                <input ng-model="model.is_insurer" type="checkbox" id="is_insurer">
            </div>
        </div>

        <div class="form-group">
            <label for="is_hospital" class="col-sm-2 control-label">является ЛПУ<br>(старый признак)</label>
            <div class="col-sm-10">
                <input ng-model="model.is_hospital" type="checkbox" id="is_hospital">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="close()">Подтвердить</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Отмена</button>
</div>
