{% extends 'base.html' %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include '_nav_menu.html' %}
        <legend>Выгрузка в ТФОМС</legend>
        <ul class="nav nav-tabs">
            <li{% if request.path == url_for('.download', template_type='xml') or request.path == url_for('.download') %} class="active"{% endif %}><a href="{{ url_for('.download', template_type='xml') }}">Выгрузка XML</a></li>
            <li{% if request.path == url_for('.download', template_type='dbf') %} class="active"{% endif %}><a href="{{ url_for('.download', template_type='dbf') }}">Выгрузка DBF</a></li>
        </ul>
        <blockquote><p>Выберите шаблоны для выгрузки</p></blockquote>
        <form class="form-horizontal" id="download_form">
            <div class="control-group">
                    {% for template in templates %}
                        <label class="checkbox">
                            <input type="checkbox" class="templates" required name="templates[]" value="{{ template.id }}"> {{ template.name }}
                        </label>
                    {% endfor %}
            </div>
            <div class="control-group">
                    <button type="submit" class="btn btn-primary">Сделать выгрузку</button>
            </div>
        </form>
<div id="download_result">
<blockquote>
  <p>Скачивание файлов</p>
</blockquote>
<div id="result"></div>
</div>
<div class="loader"></div>
{% endblock %}
{% block modules_js %}
<script type="text/javascript">
$(document).ready(function(){
    $('#download_result').hide();
    $(document).on({
        ajaxStart: function() {
            $('body').addClass("loading");
        },
        ajaxStop: function() {
            $('body').removeClass("loading");
        }
    });
    $('#download_form').submit(function(){
        var $this = $(this);
        $this.hide();
        $('#download_result').show();
        $('#result').html('Подождите, идёт генерация файлов...');
        var data = [];
        $this.find('input:checkbox').each(function(){
            data = data.push($(this).val());
        });
        $.post("{{ url_for('.ajax_download') }}", {data:data}, function(res) {
            $('#result').html(res);
        });
        return false;
    });
});
</script>
{% endblock %}