{% extends 'misconfig/base.html' %}

{% block content %}
<div class="container-fluid" ng-controller="PricelistConfigCtrl" ng-cloak ng-init="init({{ pricelist.id }})">
    <alert-notify></alert-notify>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index_html') }}">Настройки МИС</a></li>
        <li><a href="{{ url_for('.price_list_html') }}">Прайс-листы</a></li>
        <li>Тарифы прайс-листа "{{ pricelist.name }}"</li>
    </ul>
    <div class="row">
    <div class="col-md-3" ng-show="isFilterEnabled()">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Фильтр</h3>
            </div>
            <div class="panel-body">
                <label for="filter-name">Наименование в прайсе</label>
                <input class="form-control" id="filter-name" type="text" ng-model="flt.model.name" placeholder="Наименование">

                <label for="filter-code">Код в прайсе</label>
                <input class="form-control" id="filter-code" type="text" ng-model="flt.model.code" placeholder="Код">

                <label for="filter-beg-date-from">Начало действия (от, до)</label>
                <div class="row">
                    <div class="col-md-6">
                        <wm-date id="filter-beg-date-from" ng-model="flt.model.beg_date_from"></wm-date>
                    </div>
                    <div class="col-md-6">
                        <wm-date id="filter-beg-date-to" ng-model="flt.model.beg_date_to"></wm-date>
                    </div>
                </div>

                <label for="filter-end-date">Окончание действия (от, до)</label>
                <div class="row">
                    <div class="col-md-6">
                        <wm-date id="filter-end-date-from" ng-model="flt.model.end_date_from"></wm-date>
                    </div>
                    <div class="col-md-6">
                        <wm-date id="filter-end-date-to" ng-model="flt.model.end_date_to"></wm-date>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="getData()">Получить данные</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="clear()">Сбросить</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="clearAll()">Сбросить и очистить результаты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-[[ isFilterEnabled() ? 9 : 12 ]]">
        <table class="table table-condensed">
            <thead>
                <tr>
                <th>id</th>
                <th>Услуга</th>
                <th>Код в прайсе</th>
                <th>Наименование в прайсе</th>
                <th>Стоимость (руб.)</th>
                <th>Дата начала действия</th>
                <th>Дата окончания действия</th>
                <th>Удалён</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in item_list" ng-class="{'bg-danger': item.deleted}">
                    <td>[[ item.id ]]</td>
                    <td>[[ item.service.name ]]</td>
                    <td>[[ item.service_code ]]</td>
                    <td>[[ item.service_name ]]</td>
                    <td>[[ item.price ]]</td>
                    <td>[[ item.beg_date | asDate ]]</td>
                    <td>[[ item.end_date | asDate ]]</td>
                    <td>[[ item.deleted ]]</td>
                    <td class="nowrap" width="1%">
                        <button type="button" class="btn btn-primary" ng-if="canEdit(item)" ng-click="edit($index)" title="Редактировать">
                            <i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger" ng-if="canDelete(item)" ng-click="remove($index)" title="Удалить">
                            <i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-info" ng-if="canUndelete(item)" ng-click="restore($index)" title="Восстановить">
                            <i class="fa fa-undo"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="row">
    <div class="[[ isFilterEnabled() ? 'col-md-offset-3' : '' ]] col-md-1">
        <button type="button" title="[[ isFilterEnabled() ? 'Скрыть' : 'Показать' ]] фильтр" ng-click="toggleFilter()"
            class="btn btn-primary">
            <i class="fa fa-filter"></i>
        </button>
    </div>
    <div class="col-md-[[ isFilterEnabled() ? 5 : 7 ]]">
        <pagination ng-model="pager.current_page" total-items="pager.pages" items-per-page="1"
            max-size="pager.max_pages" ng-change="onPageChanged()" ng-show="pager.pages > 1" boundary-links="true"
            class="pagination pagination-sm pagination-nomargin">
        </pagination>
    </div>
    <div class="col-md-[[ isFilterEnabled() ? 3 : 4 ]]">
        <button type="button" class="btn btn-lg btn-success pull-right" ng-click="create_new()"
            title="Добавить запись"><i class="fa fa-plus"> Добавить запись</i>
        </button>
    </div>
    </div>

</div>
{% endblock %}

{% block modules_js %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/pricelist/models.js', v=version) }}"></script>
<script src="{{ url_for('.static', filename='js/pricelist/pricelist.js', v=version) }}"></script>
<script type="text/ng-template" id="/caesar/misconfig/pricelist/pricelist-item-edit-modal.html">{% include "misconfig/pricelist/pricelist-item-edit-modal.html" %}</script>
{% endblock %}